.dropdownMenu {
  margin-top: 4vh;
  position: relative;
  display: inline-block;
}

.dropdownButton {
  width: 15vw;
  height: 5vh;
}

.dropdownContent {
  width: 15vw;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.dropdownItem {
  background-color: white;
  color: black;
  height: 4vh;
  width: 15vw;
  border: 1px solid gray;
}
