.homepage {
  display: flex;
  box-sizing: border-box;
}

.tableContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 100vh;
  position: relative;
  opacity: 0;
  animation: opacityUp 500ms ease-in forwards;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  height: 97vh;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  padding: 7vh;
  /* padding-left: 5vw;
  padding-right: 5vw; */
}

::-webkit-scrollbar {
  background-color: #f8f2f0;
}

::-webkit-scrollbar-thumb {
  background-color: #aa43ea38;
  border-radius: 10px;
}

.leftTable1 {
  box-sizing: border-box;
  height: 35vh;
  overflow-y: scroll;
  margin-top: 1vh;
  width: 100%;
  border: 3px solid #f8f2f0; 
  border-radius: 10px;
}
.leftTable2 {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40vh;
  /* width: 70%; */
  margin-top: 5vh;
}

.item {
  background-color: #f8f2f0;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  /* height: 7vh; */
  margin-bottom: 0.5vh;
  /* border: 1px solid #83807e4a; */
}

.leftSpan {
  box-sizing: border-box;
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  color: purple;
}

.rightSpan {
  box-sizing: border-box;
  height: 7vh;
  width: 50%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid white;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  height: 97vh;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  padding: 7vh;
  /* padding-left: 5vw;
  padding-right: 5vw; */
}

.rightTable1 {
  box-sizing: border-box;
  height: 35vh;
  overflow-y: scroll;
  margin-top: 1vh;
  width: 100%;
  border: 3px solid #f8f2f0; 
  border-radius: 10px;
}
.rightTable2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-top: 5vh;
  width: 100%;
}
@keyframes opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
