.homepage {
  display: flex;
  box-sizing: border-box;
}

.tableContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 85vw;
  position: relative;
  opacity: 0;
  animation: opacityUp 500ms ease-in forwards;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  height: 97vh;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  padding: 7vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.leftTable {
  box-sizing: border-box;
  /* padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh; */
  height: 80vh;
  margin-top: 1vh;
  width: 100%;
  border: 2px solid orange;
}

.leftSpan {
  width: 50%;
  background-color: rgba(255, 166, 0, 0.219);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSpan {
  width: 50%;
  text-align: center;
  background-color: #ffa60092;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  border-bottom: 1px solid rgba(131, 128, 126, 0.292);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  height: 97vh;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  padding: 7vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.rightTable1 {
  box-sizing: border-box;
  height: 40vh;
  margin-top: 1vh;
  width: 100%;
  border: 2px solid orange;
}
.rightTable2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-top: 1vh;
  width: 100%;
  border: 2px solid orange;
}
@keyframes opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
