.homepage {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.form {
  /* box-sizing: border-box; */
  height: 70vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  transform: translateX(-2vh);
  /* justify-content: center; */
  padding: 3vh;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.088);
  animation: toBottom 0.5s ease-in forwards;
}

.tableContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 85vw;
  position: relative;
}
.heading {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1vh;
}

.subHeading {
  margin-bottom: 2vh;
}

.input {
  border: 1px solid gray;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input:focus {
  outline: none;
  background-color: #ece4e06e;
}

.button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #9375e7; /*1da1f2*/
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 0.5rem;
}

.button:hover {
  background-color: #8569d0; /*0c8de4*/
}

.button2 {
  margin-top: 15vh;
  align-self: center;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #e90e0e;
  background-color: #fffefe; /*1da1f2*/
  color: #e90e0e;
  font-size: 1.2rem;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button2:hover {
  background-color: #e90e0e;
  color: #fffefe;
}

.link {
  cursor: pointer;
  color: #fe8660;
  font-weight: 600;
  transition: 500ms;
}

.link:hover {
  color: #e83c08;
}

@keyframes toBottom {
  0% {
    transform: translateY(-2vh);
    opacity: 0;
  }

  100% {
    transform: translateX(0vh);
    opacity: 1;
  }
}
